#mainTitle{
    text-align: center;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}
.pageContainer{
    margin-top: 40px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#form-container {
    margin: 10px 10px 30px;
}

#button {
    float: right;
    margin-top: 20px;
}

.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', 'Verdana', serif;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}